@charset "utf-8";

body {
	font-size: 13px;
	font-family: Meiryo, "ＭＳ Ｐゴシック", verdana, arial, serif;
}

body, select, input, textarea {
	color: #333;
}

a {
	color: #03f;
}

a:hover {
	color: #69f;
}

::-moz-selection{
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

a:link {
	-webkit-tap-highlight-color: #fcd700;
}

ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

@media screen and (max-width: 480px) {

}

@media print {

}
